@charset 'UTF-8';
@import "susy";
@import "breakpoint";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
);


.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $bottom-nav-height;
  background-color: $dark-grey;
  will-change: transform;
  transition: transform 200ms linear;

  @extend .z-depth-2;
  @include container;

  @include breakpoint($breakpoint-large) {
    top:0;
    height: 100%;
    width: $sidebar-width-large;
    background-color: $light-grey;
  }

  &.headroom--pinned {
    transform: translateY(0%);
    @include breakpoint($breakpoint-large) {
      transform: initial;
    }
  }

  &.headroom--unpinned {
    transform: translateY(100%);
    @include breakpoint($breakpoint-large) {
      transform: initial;
    }
  }

  ul {
    padding: 0;
    margin: 0;

    @include breakpoint($breakpoint-large) {
      top: 50%;
      margin-top: -198px;
      position: relative;
      overflow: hidden;
    }

  }
  li {
    list-style: none;
    @include span(3);

    @include breakpoint($breakpoint-large) {
      @include span(12);
    }

    &:last-child {
      @include span(3 last);
      @include breakpoint($breakpoint-large) {
        @include span(12);
      }
    }
    a {
      @include clearfix;
      width: 100%;
      padding-top: 6px;
      padding-bottom: 10px;
      display: inline-block;
      color: $light-inactive-grey;

      cursor: pointer;
      @include breakpoint($breakpoint-large) {
        color: lighten($text-color, 40%);
        border-bottom: 1px solid $light-inactive-grey;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
      }

      &.active {
        color: $light-active-grey;
        @include breakpoint($breakpoint-large) {
          color: $text-color;
        }
      }
    }
    i {
      @include span(1 of 3);
      margin-left: span(1 of 3) + gutter(3);
      text-align: center;
    }
    .label {
      font-size: $small-text-size;
      display: inline-block;
      width: 100%;
      text-align: center;
      @include breakpoint($breakpoint-large) {
        @include text-size-2(normal, uppercase)
      }
    }
  }
}
