RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^resume/?$    resume.html  
RewriteRule    ^about/?$    about-me.html  
RewriteRule    ^loves/food/?$    /reading-list/food.html  
RewriteRule    ^loves/design/?$    /reading-list/design.html  
RewriteRule    ^loves/web/?$    /reading-list/web.html  
RewriteRule    ^loves/books/?$    /reading-list/books.html  
RewriteRule    ^blog/?$    /blog3571/index.php  

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# Or, compress certain file types by extension:
<files *.html>
SetOutputFilter DEFLATE
</files>

ErrorDocument 404 /page-not-found.html