// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
@import "susy";
@import "breakpoint";

$susy: (
  columns: 12,
  gutters: 1,
  math: fluid,
  output: float,
);

.passions {
  @include container;

  li {
    // @include span(12);
    @include breakpoint($breakpoint-medium) {
      @include span(6 of 12);
      // padding-right: gutter(8);

      &:nth-child(2n+2) {
        @include span(6 of 12 last);
        // padding-right: 0;
        // padding-left: gutter(8);
      }
    }

    @include breakpoint($breakpoint-large) {
      @include span(3 of 12);
      // padding-right: gutter(12);

      &:nth-child(2n+2) {
        @include span(3 of 12);
        // padding-right: gutter(12);
      }
      &:last-child {
        @include span(3 of 12 last);
        // padding-right: 0;
      }
    }
  }
}

.work {
  ul {
    @include container;
    @include clearfix;
    overflow: hidden;
  }

  a {
      color: #ffffff;
      padding: 1em;
      display: inline-block;
      cursor: pointer;
      width: 100%;

      &:hover {
        text-decoration: none;
      }
  }

  li {
      background: $dark-grey;
      margin-bottom: 1em;
      will-change: transition;
      -webkit-transition: background-color 0.23s cubic-bezier(0.65, 0.05, 0.36, 1);
      -moz-transition: background-color 0.23s cubic-bezier(0.65, 0.05, 0.36, 1);
      transition: background-color 0.23s cubic-bezier(0.65, 0.05, 0.36, 1);

      @include span(12 of 12);


      &:hover {
        background: $primary-color;
      }
  }
}
