@import "susy";
@import "breakpoint";

$susy: (
  columns: 12,
  gutters: 1,
  math: fluid,
  output: float,
);

.profile-img {
  width: span(6 of 12);
  height: span(6 of 12);
  margin-left: span(3 of 12) + gutter(12);
  border-radius: 50%;

  @include breakpoint($breakpoint-medium) {
    width: span(4 of 12);
    height: span(4 of 12);
    margin-left: span(4 of 12) + gutter(12);
  }
  @include breakpoint($breakpoint-large) {
    width: span(2 of 12);
    height: span(2 of 12);
    margin-left: span(5 of 12) + gutter(12);
  }

}

.skills,
.interests {
  @include container;

  h4 {
    font-weight: 700;
  }
  &>li {
    @include breakpoint($breakpoint-medium) {
      @include span(4 of 12);
      &:last-child {
        @include span(4 of 12 last);
      }
    }
  }
}

.technologies {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-width: span(5 of 12);
     -moz-column-width: span(5 of 12);
          column-width: span(5 of 12);
  -webkit-column-rule: 1px dotted #ddd;
     -moz-column-rule: 1px dotted #ddd;
          column-rule: 1px dotted #ddd;
  column-gap: span(2 of 12);

  @include breakpoint($breakpoint-medium) {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }

  @include breakpoint($breakpoint-large) {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
  }
}

.floating-header {
  position: fixed;
  height: 56px;
  top: 0;
  left: 0;
  background: #3A3A3A;
  color: #fff;
  width: 100%;
  padding: 0 50px;
  opacity: 0;
  will-change: transform;
  transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;

  &.appear {
    opacity: 0.95;
    @extend .z-depth-2;
  }
}

.organizations,
header {
  .org-name {
    @include span(9);
    @include text-size-1(normal, uppercase, 700);
  }
  .org-year {
    @include span(3 last);
    text-align: right;
  }
  .org-wrapper {
    @include container;
    margin-bottom: ms(2);

    &.fixed-top {
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  .org-client {
    @include text-size-1(italic, initial, 700);
  }

  .roles {
    li > dl > dt,
    li > dl > dd {
      text-align: center;

      @include breakpoint($breakpoint-medium) {
        text-align: left;
      }
    }

    .role-wrapper {
      @include grey-background();
    }
  }
}

.education {
  dl {
    @include container;
    margin: span(1) 0;
  }
  .institute {
    @include span(9);
    @include text-size-1(normal, initial, 400);
  }
  .year {
    text-align: right;
    @include span(3 last);
  }
  .degree {
    @include text-size-1(normal, initial, 700);
    @include clearfix;
  }
  .marks {
    @include text-size-2(italic, initial, 400);
  }
}

.skills,
.technologies,
.organizations,
.education,
.interests {
  padding-bottom: ms(0.5);
  padding-top: ms(0.5);
  border-bottom: 1px solid $light-grey;
}
.section-wrapper {
  @include container;
  @include clearfix;
  @include breakpoint($breakpoint-large) {
    // max-width: 1200px;
    // margin:auto;
  }

  @include breakpoint($breakpoint-medium) {
    h3 {
      @include span(2 of 12);
      margin: 0;
      padding-top: 0.5em;
      text-align: left;
    }

    h6 {
      text-align: left;
    }

    .skills,
    .technologies,
    .organizations,
    .education,
    .interests
     {
      @include span(10 of 12 last);
    }
  }
}

header {
  @include breakpoint($breakpoint-medium) {
    @include span(last 10 of 12);
  }
}

.projects li {
  margin-bottom: 2.5em;
}
